<p-card class="post-card"  (click)="navigateToPost(post.Id)">
  <div class="post-hearder mb-3">
    <div class="img-user">
      <img [src]="post.UsuarioImagen" alt="">
    </div>
    <div class="post-user-info">
      <h6>{{post.UsuarioNombre}} {{post.UsuarioApellido}}</h6>
      <p>{{post.FechaCreacion | date:'medium' }}</p>
    </div>
  </div>
  <div class="post-body mb-2">
    <img [src]="post.ImagenPost" alt="">
  </div>
  <div class="post-footer">
    <h6> {{post.Titulo}} </h6>
    <nivel-dificultad [nivelDificultad]="post.NivelDificultad"> </nivel-dificultad>
  </div>
</p-card>
