//card
.post-hearder{
  display: flex;
}

h6{
  font-family: 'ubuntu-bold';
}

.img-user{
  margin-right: 22px;
}

.img-user img{
  width: 90px;
  border-radius: 80px;
}


.post-body img{
  width: 100%;
}
