.section-card{
  padding: 14px !important;
}

.sec-img{
  font-size: 36px;
  margin-right: 8px;
}

h4{
  text-align: center;
}

.camaron{
  color:#A71D31 ;
}

.date{
  color: #002642
}

.img-config{
  border-radius: 120px;
  width: 220px;
}


.receta-info p,
.date-info p{
  margin: 0;
}
