.postDetail {
  margin: auto;
}

.imagenes-post {
  padding: 50px;
  margin-bottom: 50px !important;
}

.post-hearder {
  display: flex;
}


.img-user {
  margin-right: 22px;
}

.img-user img {
  width: 90px;
  border-radius: 80px;
}


.section-nutricion {
  margin: 8px;
}
